body {
    background: url(background.jpg);
    height: 1vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app-wrap {
    background: -moz-linear-gradient(to bottom, rgba(84,138,157,.5) 0%, rgba(1,82,51,.6) 29%, rgba(1,82,51,.7) 61%, rgba(0,255,107,.8) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(84,138,157,.5) 0%, rgba(1,82,51,.6) 29%, rgba(1,82,51,.7) 61%, rgba(0,255,107,.8) 100%);
    background: linear-gradient(to bottom, rgba(84,138,157,.5) 0%, rgba(1,82,51,.6) 29%, rgba(1,82,51,.7) 61%, rgba(0,255,107,.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#548a9d",endColorstr="#00ff6b",GradientType=1);
    /* background-color: rgba(100, 123, 122, .7); */
    color: white;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
}
header {
    text-align: center;
}
header h2 {
    padding: 2%;
    margin: 0;
}
#weather {
    color: wheat;
    text-transform: lowercase;
    font-family: 'Ranchers', cursive;
    font-size: 40px;
}
#how {
    color: rgb(92, 134, 134);
    text-transform: uppercase;
    font-family: 'Grandstander', cursive;
    font-size: 50px;
}
#content {
    display: flex;
    flex-wrap: wrap;
}
#content > div {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 5%;
    text-align: center;
}
#otherLocationSection {
    display: none;
}
#setLocation {
    
}
.location {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 0;
}
.time {
    font-size: 60px;
}
.date {
    font-size: 25px;
}
.fa-cloud {
    font-size: 3rem;
}
.sky {
    text-align: left;
    margin-bottom: 50px;
}
h4.temperature {
    display: inline-block;
    width: 50%;
    margin: 5% 0;
    font-size: 5em;
}
p.skycon {
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
}
p.skycon > img {
    width: 150px;
}
.skyComment {
    clear: both;
}
#setLocation > h3 {
    font-size: 2.3rem;
    color: chartreuse;
}
#setLocation > input {
    width: 70%;
    font-size: 20px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom: 2px chartreuse solid;
    background: transparent;
    color: chartreuse;
    box-sizing: border-box;
}
#setLocation > button {
    font-size: 20px;
    width: 70%;
    text-align: center;
    background: chartreuse;
    color: whitesmoke;
    border: none;
    padding: 10px;
    border-bottom-right-radius: 20px;
}
#setLocation > button:hover {
    transition: 0.3s;
    background: transparent;
    color: whitesmoke;
    border: 2px chartreuse solid;
    padding: 10px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

/*********************************
    font-family: 'Grandstander', cursive;

    font-family: 'Raleway', sans-serif;

    font-family: 'Ranchers', cursive;
*********************************/
@media screen and (max-width : 800px) {
    #content > div {
        width: 100% !important;
    }
}
