body {
    background: url(background.jpg);
    height: 1vh;
    padding: 0;
    margin: 0;
}
.app-wrap {
    background: -moz-linear-gradient(to bottom, rgba(84,138,157,.3) 0%, rgba(1,82,51,.4) 29%, rgba(1,82,51,.5) 61%, rgba(0,255,107,.6) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(84,138,157,.3) 0%, rgba(1,82,51,.4) 29%, rgba(1,82,51,.5) 61%, rgba(0,255,107,.6) 100%);
    background: linear-gradient(to bottom, rgba(84,138,157,.3) 0%, rgba(1,82,51,.4) 29%, rgba(1,82,51,.5) 61%, rgba(0,255,107,.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#548a9d",endColorstr="#00ff6b",GradientType=1);
    /* background-color: rgba(100, 123, 122, .7); */
    color: white;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding-bottom: 10%;
}
header {
    text-align: center;
}
header h2 {
    padding: 2%;
    margin: 0;
}
#weather {
    color: wheat;
    text-transform: lowercase;
    font-family: 'Ranchers', cursive;
    font-size: 40px;
}
#how {
    color: rgb(92, 134, 134);
    text-transform: uppercase;
    font-family: 'Grandstander', cursive;
    font-size: 50px;
}
#content {
    display: flex;
    flex-wrap: wrap;
}
#content > div {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 5%;
    text-align: center;
}
.weatherInfo {

}
#otherLocation {
    display: none;
}
#setLocation {
    
}
.location {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 0;
}
.time {
    font-size: 60px;
}
#date {
    font-size: 25px;
}
.fa-cloud {
    font-size: 3rem;
}
.sky {
    text-align: left;
    margin-bottom: 50px;
}
h4.temperature {
    display: inline-block;
    width: 50%;
    margin: 5% 0;
    font-size: 5em;
}
p.skycon {
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
}
p.skycon > img {
    width: 150px;
}
.skyComment {
    clear: both;
}
/*********************************
    font-family: 'Grandstander', cursive;

    font-family: 'Raleway', sans-serif;

    font-family: 'Ranchers', cursive;
*********************************/